.navbar {
    height: 100px;
    background-color: var(--bg-navbar);
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 20px;
}

.navbar_container {
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.navbar_item {
    margin-left: 10px;
}